{% extends "partials/layout.njk" %}
{% block title %}Answer{% endblock %}
{% block content %}
    <p>
        <b>Page:
        </b>
        {{ page }}</p>
    <p>
        <b>Order:
        </b>
        {{ order }}</p>
    <p>
        <b>Name:
        </b>
        {{ name }}</p>
    <p>
        <b>Age:
        </b>
        {{ age }}</p>
{% endblock %}